body{
    color:red;
    background: black;
    margin : 0px;
    font-family: "Playwrite GB S", cursive;
}

header{
  border-bottom: solid 2px rgb(168, 70, 233);
  padding : 20px;
  font-size: 32px;
  color: rgb(168, 70, 233);
}

section{
  background: rgb(192,192,192);
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;

}

.chamado-texto {
  margin-right: 5%;
}

h1{
  font-size: 40px;
}

p{
  font-size: 20px;
}